{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Baruch Perez Macotela</title>
</head>
<body>
    <div>
        <h1>Welcome to my cover letter</h1>
        <h3>Below you will find development examples to show my abilities, 
            and demonstrate what technologies I've had the opportunity to work with</h3>
        <h2>Web development</h2>
        <h3>To begin I want to show somem web development projects</h3>
        
    </div>
    
</body>
</html>